.background-container {
  position: relative;
  background-color: #ffffff;
}
.background {
  width: 100vw !important;
  height: 100vh !important;
  background: transparent center/cover
    url("../images/SEVEN_CAPITAL_ONE\_THAMES\ _VALLEY.png") no-repeat;
}

.background__logo {
  position: absolute;
  top: 10px;
  left: 170px;
  height: 208px;
  width: 208px;
}

.background__heading {
  position: absolute;
  top: 390px;
  left: 187px;
  height: 81px;
  text-align: left;
  font: normal normal 400 65px/70px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

.background__chevron {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background__chevron--container {
  bottom: 49px;
  opacity: 0.4;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #ffffff;
}

.background__chevron--icon {
  bottom: 79px;
  font-size: 40px;
  color: #ffffff;
}

.content-container {
  margin-top: 123px;
}

.content-container__content {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  color: #000000;
  font: normal normal normal 30px/37px Montserrat;
  letter-spacing: 0px;
}

.content-container__horizontal {
  width: 130px;
  margin: 88px auto 88px auto;
}

.content-container__contact {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 70%;
  margin: 0 auto;
  letter-spacing: 0px;
  color: #000000;
}

.content-container__contact__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container__contact__details__icon {
  font-size: 25px;
}

.content-container__contact__details__content {
  padding-left: 15px;
  font: normal normal normal 20px/24px Montserrat;
}

.contact {
  margin: 129px 0 82px 0;
  background: #fbf8f5 0% 0% no-repeat padding-box;
  width: 100%;
  font: normal normal 600 30px/37px Montserrat;
}

.contact__container {
  width: 60%;
  margin: 0 auto !important;
  padding: 82px 0;
}

.contact__container__form__label {
  display: none !important;
}

.contact__container__form__input {
  width: 380px;
  height: 48px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 8px;
}

.contact__container__form__label--email {
  margin-left: 43px;
}

.contact__container__form__textarea {
  width: 829px;
  height: 155px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 36px;
  padding: 8px 0 0 8px;
}

.footer {
  height: 147px;
  background: #fbf8f5 0% 0% no-repeat padding-box;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 79px 79px 0 50px;
  font: normal normal normal 16px/19px Montserrat;
}

.footer__container__social > i {
  padding-left: 20px;
  color: #000000;
}

@media (max-width: 1440px) {
  .contact__container__form__label--email {
    margin-top: 15px;
  }
}

@media (max-width: 1024px) {
  .background__heading {
    font: normal normal 400 45px/40px Montserrat;
  }

  .content-container__contact__details__content {
    font: normal normal normal 18px/24px Montserrat;
  }

  .contact__container__form__textarea {
    width: 393px;
  }

  .contact__container__form__label--email {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .background__heading {
    font: normal normal 400 45px/40px Montserrat;
    left: 50px;
  }

  .background__logo {
    left: 50px;
  }

  .content-container__contact {
    flex-direction: column;
  }

  .content-container__contact__details {
    justify-content: left;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .content-container__content {
    max-width: 90%;
    font: normal normal normal 25px/37px Montserrat;
  }

  .contact__container__form__input {
    width: 250px;
  }

  .contact__container__form__textarea {
    width: 250px;
  }

  .background__heading {
    font: normal normal 400 35px/50px Montserrat;
  }

  .contact__container {
    width: 70%;
  }

  .contact__container__title {
    font: normal normal 500 22px/30px Montserrat;
  }

  .footer {
    text-align: center;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__container__social {
    padding: 15px 0;
  }
}

@media (max-width: 320px) {
  .contact__container__form__input {
    width: 200px;
  }

  .contact__container__form__textarea {
    width: 200px;
  }
}
