body {
  position: relative;
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
  background: transparent center/cover
    url("../images/SEVEN_CAPITAL_ONE\_THAMES\ _VALLEY.png") no-repeat;
}

.background__logo {
  position: absolute;
  top: 10px;
  left: 170px;
  height: 208px;
  width: 208px;
}

.background__heading {
  position: absolute;
  top: 390px;
  left: 187px;
  height: 81px;
  text-align: left;
  font: normal normal 600 65px/70px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
